<?xml version="1.0" encoding="utf-8" standalone="yes"?><w:settings xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:wp14="http://schemas.microsoft.com/office/word/2010/wordprocessingDrawing" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" mc:Ignorable="w14 wp14 w15" xmlns:w15="http://schemas.microsoft.com/office/word/2012/wordml"><w:zoom w:percent="100" /><w:proofState w:spelling="clean" w:grammar="dirty" /><w:trackRevisions w:val="false" /><w:defaultTabStop w:val="709" /><w:autoHyphenation w:val="true" /><w14:docId w14:val="5B8A4AF3" /><w15:docId w15:val="{23e52f69-0418-4b4a-877a-f948be5968c8}" /><w:rsids><w:rsidRoot w:val="2D798737" /><w:rsid w:val="2D798737" /><w:rsid w:val="3DB3F1AF" /><w:rsid w:val="753A3357" /></w:rsids></w:settings>